<h1>假日</h1>
{{#each vacations}}
   <div class="vacation">
   	<h3>{{name}}</h3>
   	<p>{{description}}</p>
   	{{#if inSeason}}
   	  <span class="price">{{price}}</span>
   	  <a href="/cart/add?sku={{sku}}" class="btn btn-default">购买</a>
    {{else}}
      <span class="outOfSeason">不好意思，现在是休整期间</span>
      <a href="notify-me-when-in-season?sku={{sku}}">敬请关注</a>
     {{/if}}
   </div>
   {{/each}}